@media screen and (max-width: 768px) { 
    .afisha {
        width: 26vw;
        height: 624vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 2vw;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 40vw;
    }
    .afisha img {
        width: 24vw;
        height: 35vw;
    }
    .feedback-container {
        max-width: 10vw;
        margin-top: 5vw;
        margin-left: 25vw;
        background: rgb(103, 103, 103);
        padding: 2vw;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
      }
      
      .feedback-header {
        text-align: center;
        margin-bottom: 2vw;
        color: #333;
      }
      
      .feedback-title {
        font-size: 1vw;
        font-weight: bold;
        margin-bottom: 1vw;
        color: #000000;
        font-family: "Inter";
      }
      
      
      .feedback-subtitle {
        font-size: 1vw;
        color: #333333;
      }
      
      .form-group {
        margin-bottom: 1vw;
      }
      
      label {
        display: block;
        margin-bottom: 1vw;
        font-weight: bold;
        color: #363636;
      }
      
      input[type="text"],
      input[type="email"],
      textarea {
        width: 20vw;
        padding: 1vw;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1vw;
        transition: border 0.3s;
        font-family: "Inter";
      }
      
      input[type="text"]:focus,
      input[type="email"]:focus,
      textarea:focus {
        border-color: #282828;
        outline: none;
      }
      
      textarea {
        height: 10vw;
        resize: vertical;
      }
      .feedback-form button {
        width: 30vw;
        height: 4vw;
      }
}


